body{
    text-align: center;
}

.item{
    background-color: chocolate;
    font-size: 1.5rem;
    margin: 5px;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-item-1{
    flex:1;
}